# NOTE: This I2P config file must use UTF-8 encoding
logger.consoleBufferSize=20
logger.dateFormat=MM/dd HH:mm:ss.SSS
logger.defaultLevel=ERROR
logger.displayOnScreen=true
logger.dropDuplicates=false
logger.dropOnOverflow=false
logger.flushInterval=29
logger.format=d p [t] c: m
logger.logBufferSize=1024
logger.logFileName=logs/log-router-@.txt
logger.logFileSize=10m
logger.logRotationLimit=10
logger.minimumOnScreenLevel=CRIT
logger.record.net.i2p.router.Router=WARN
