#i2np.ipv4.firewalled=true
#i2np.ipv6.firewalled=true
i2np.ntcp.enable=false
i2np.udp.enable=true
#i2np.udp.ipv6=only
i2np.upnp.enable=false
i2p.insecureFiles=true
router.networkID=99
# just in case
i2p.reseedURL=https://localhost:3333/foo
i2np.allowLocal=true
router.blocklist.enable=false
router.floodfillParticipant=true
router.newsRefreshFrequency=0
router.rejectStartupTime=20000
router.reseedDisable=true
router.sybilFrequency=0
# just in case
router.updateDisabled=true
routerconsole.advanced=true
routerconsole.welcomeWizardComplete=true
time.disabled=true
# just in case
time.sntpServerList=localhost
