# NOTE: This I2P config file must use UTF-8 encoding
# Last saved: Mar 29, 2021, 7:58 PM
webapps.susimail.startOnLoad=false
webapps.routerconsole.startOnLoad=true
webapps.jsonrpc.startOnLoad=false
webapps.i2psnark.startOnLoad=false
webapps.imagegen.startOnLoad=false
webapps.susidns.startOnLoad=false
webapps.i2ptunnel.startOnLoad=true
